<div class="container">

  <div class="d-flex justify-content-center my-3 gap-2">
    <%= link_to "InBody", in_bodies_index_path, class: "btn btn-primary" %>
    <%= link_to "Cerrar sesión", destroy_nutritionist_session_path, data: {turbo_method: :delete}, class: "btn btn-danger" %>
  </div>

</div>
