<div class="container">
  <div class="d-flex justify-content-center my-3 gap-2">
    <%= link_to "Como usuario", new_user_session_path, class: "btn btn-primary" %>
    <%= link_to "Como nutricionista", new_nutritionist_session_path, class: "btn btn-success" %>
  </div>
</div>
